html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('Eg8dJS9WkAQB_Lt.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Arial', sans-serif; /* Add a fallback font */
}


#link {
    display: flex;
    flex-direction: row;
    
}

#linkheader   {
    width: 45%;
    
    background-color:hsla(0, 0%, 100%, 0.7);
    font-family: monospace;
    font-weight: bold;
    font-size: smaller;
    color: rgb(109, 112, 255);
    
    
    


}

#header { 
    width: 5%;
    margin-left: 3%;
    background-color:hsla(0, 0%, 100%, 0.7);
    font-family: monospace;
    font-weight: bold;
    color: rgb(176, 176, 176);
    
    
    
}

#output {
    margin-top: 5%;
    margin-left: 3%;
    
    height: 40vh; /* Use viewport height unit for height to make it scalable */
    width: 50%; /* Use percentage for width to make it scalable */
    font-family: monospace;
    font-weight: bold;
    color: rgb(0, 170, 255);
    font-size: smaller;
}

#query {
    width: 50%;
    height: 15%;
    margin-left: 3%;
    font-family: monospace;
    font-weight: normal;
    
}
#pastebin {
    width: 50%;
    height: 15%;
    margin-left: 3%;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 150, 241);
}

#languagediv {
    margin-top: 0%;
    margin-left: 3%;
    
    padding-top: 2%;
    padding-bottom:2%;
    background-color:hsla(0, 0%, 100%, 0.7);
    width: 50%; /* Use percentage for width to make it scalable */
    font-family: monospace;
    font-weight: bold;
    color: lightseagreen;
}

#button1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
}

#button3 {
    left:100%;
}

/* Additional styling for better readability */
#output, #query, #pastebin {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

